/* Page setup */
html {
    --page-background: #000000;
    --main-text-foreground: #FFFFFF;

    background-color: var(--page-background);
}

/* Header classes */
.PageHeader {
    font-size: 1.2rem;
    color: var(--main-text-foreground);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.HeaderTitle {
    font-size: 3em;
    text-align: center;
}

.HeaderSubTitle {
    font-size: 1em;
    text-align: center;
}


/* Navigation bar classes */
.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--main-text-foreground);
    column-gap: 3em;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    background-color: var(--page-background);
}


.NavigationOption {
    cursor: pointer;
}

.NavigationOption a {
    all: unset;
}

.CurrentNavigationOption {
    text-decoration: underline;
}