/* Page setup */
html {
    --page-background: #000000;
    --main-text-foreground: #FFFFFF;

    background-color: var(--page-background);
    color: var(--main-text-foreground);

    font-size: 1rem;
}

/* Header classes */
.PageHeader {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.HeaderTitle {
    font-size: 3em;
    text-align: center;
}

.HeaderSubTitle {
    font-size: 1em;
    text-align: center;
}


/* Navigation bar classes */
.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    column-gap: 3em;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    background-color: var(--page-background); /* To stop content from being visible at the top of the page next to the navigation bar when its stuck to the top*/
}


.NavigationOption {
    cursor: pointer;
}

.NavigationOption a {
    all: unset;
}

.CurrentNavigationOption {
    text-decoration: underline;
    font-weight: bold;
}


/* Page content */
.PageDescription p {
    text-align: center;
    font-size: 1.2em;
}

.VideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}


.VideoContainerTitle {
    font-size: 2.5em;
}


.VideoContainerVideo {
    aspect-ratio: 16 / 9;
    width: 40em;
}


.VideoContainerCaption {
    margin-top: 0.7em;
}
