f/* Page setup */
html {
    --page-background: #000000;
    --main-text-foreground: #FFFFFF;

    background-color: var(--page-background) !important;
    color: var(--main-text-foreground) !important;

    font-size: 1rem;
}

/* Header classes */
.PageHeader {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.HeaderTitle {
    font-size: 3em;
    text-align: center;
}

.HeaderSubTitle {
    font-size: 1em;
    text-align: center;
}


/* Navigation bar classes */
.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    column-gap: 3em;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    background-color: var(--page-background); /* To stop content from being visible at the top of the page next to the navigation bar when its stuck to the top*/
}


.NavigationOption {
    cursor: pointer;
}

.NavigationOption a {
    all: unset;
}

.NavigationOption:focus-within {
    border: 2px solid white;
}

.CurrentNavigationOption {
    text-decoration: underline;
    font-weight: bold;
}


/* Page content */
.PageDescription p {
    text-align: center;
    font-size: 1.2em;
}

.VideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}


.VideoContainerTitle {
    font-size: 2.5em;
}


.VideoContainerVideo {
    aspect-ratio: 16 / 9;
    width: 40em;
}


.VideoContainerCaption {
    display: block;
    text-align: center;
    max-width: 800px; 
    margin: 20px auto; 
    font-size: 16px; 
    line-height: 1.6; 
    padding: 10px;
}




.TeamMembersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}


.TeamMember {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5em;
    height: 8em;
}


.TeamMemberImage {
    aspect-ratio: 1 / 1;
    height: 100%;
}


.TeamMemberDescription {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1em;
}


.TeamMemberName {
    font-size: 1.5em;
    font-weight: bold;
}


.TeamMemberJobDescription {
    font-size: 1em;
}
